<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ilias Correcter</title>

    <link href="{{ url_for('static', filename='lib/fonts/material-design-icons/material.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/materialize/materialize.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav class="teal">
        <div class="nav-wrapper">
          <div class="container">
            <a class="brand-logo" href="/">Ilias Correcter</a>
          </div>
        </div>
      </nav>
    </header>
    <main>
    <div class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
          <div class="card-panel teal lighten-1">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </div>
    <div class="overlay hide">
      <div class="spinner">
        <div class="loader">
          <svg class="circular">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
          </svg>
        </div>
      </div>
    </div>
    {% block modal %}
    {% endblock %}
    </main>
    <footer class="page-footer teal">
      <div class="footer-copyright">
        <div class="container">
          &copy; Simon Hanna
        </div>
      </div>
    </footer>
    <script src="{{ url_for('static', filename='lib/jquery/jquery-2.2.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/materialize/materialize.min.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    {% block js %}
    {% endblock %}
  </body>
</html>
